<div class="row">

  <!-- 
  <mat-expansion-panel [expanded]="true" hideToggle>
        <mat-expansion-panel-header>
        <mat-panel-title>
          Automated Tasks
        </mat-panel-title>  
      </mat-expansion-panel-header> 
    -->

      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div class="card">
          <div class="card-header">

            
            <!-- start ~ Household Search -->
            <div class="card bg-light text-light border-0">
              <div class="card-body bg-light">
                  <button type="button" class="btn btn-block" data-bs-toggle="collapse" data-bs-target="#search_household">
                      <mat-icon style="color: #3d3d3d;">home</mat-icon> &nbsp; 
                      <span class="headerstyle"><strong>Households</strong> </span>
                      &nbsp; &nbsp;
                      <mat-icon style="color: #3d3d3d;">search</mat-icon>
                  </button>
                  <div id="search_household" class="collapse show">
                  <!-- <p>Material Search here</p>  -->

                    <div fxLayout fxLayoutAlign="center center">
                      <!------------>
                      <mat-form-field fxFlex="40%">
                      <!-- (keyup)="doFilter($event.target.value)" placeholder="Search by Home # or name"   -->
                        <!-- 
                        <input 
                          matInput   
                          placeholder="Search by Home # or name" 
                        >
                        -->
                        <input 
                          matInput type="text" 
                          (keyup)="doFilter( $any($event.target).value)"  
                          placeholder="Search by Home Number or Name" 
                         />
                        <!-- <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search by Home # or name"> -->
                      </mat-form-field>
                      <!--------->
                    </div>
                    <!-- 
                    <span>
                        <input type="text" class="form-control" placeholder="Search by Home # or name" 
                        [(ngModel)]="searchterm" 
                        name="searchByHousehold" id="searchByHousehold"  >  
                    </span>
                    -->
                  </div>
              </div>
            </div>     
            <!-- end ~ Household Search -->
          </div>
          <div class="card-body">
          

            <mat-accordion class="example-headers-align" multi="false">
              <mat-expansion-panel [expanded]="true">
       
                <mat-expansion-panel-header>          
                  <mat-panel-title>
                    Incomplete  
                  </mat-panel-title>
                  <mat-panel-description>                  
                    <span class="badge bg-danger float-end">{{incompletecount}}</span>   

                  </mat-panel-description>
                </mat-expansion-panel-header>
                 
                <div >
                  <div>
                    <table mat-table [dataSource]="incomplete">
                      <ng-container matColumnDef="HomeNumber">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                          <a 
                            href="javascript:void(0)" 
                            (click) ="showDetails(row.HomeNumber)" 
                            class="link_no_underline"
                          >
                            {{ row.HomeNumber }} 
                          </a> - 
                          <a 
                            href="javascript:void(0)" 
                            (click) ="showDetails(row.HomeNumber)" 
                            class="link_no_underline2"
                          >
                            {{ row.HHName }}   - {{ row.CompletedTasks }} of {{ row.TotalTasks }} Completed
                          </a>
                          <mat-icon *ngIf="row.HouseholdFlag == 1" style="color: red;">flag</mat-icon>                        
                        </td>
                        
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                  </div>

                  <!-- start ~ Paginator -->
                  <mat-paginator #paginator
                    showFirstLastButtons
                    [pageSizeOptions]="[5, 10, 15, 25, 50]"
                    [length]="25"
                    [pageSize]="10"
                  >
                  </mat-paginator>
                  
                  <!-- end ~ Paginator -->
                </div>
              
            </mat-expansion-panel>
            <mat-expansion-panel >
              
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Completed
                </mat-panel-title>
                <mat-panel-description>
                  
                 <span class="badge bg-danger float-end">{{completedcount}}</span>   
                 </mat-panel-description>
            
              </mat-expansion-panel-header>
          
              <div >
                <div>
                  <table mat-table [dataSource]="complete">
                    <ng-container matColumnDef="HomeNumber">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let row">
                        <a href="javascript:void(0)" (click) ="showDetails(row.HomeNumber)">{{ row.HomeNumber }} </a> - 
                        <a 
                          href="javascript:void(0)" 
                          (click) ="showDetails(row.HomeNumber)" 
                          class="link_no_underline2"
                        >
                          {{ row.HHName }} 
                        </a>                      
                      </td>
                      
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>
                </div>
                
                  <mat-paginator #paginatorcomplete 
                  showFirstLastButtons
                  [pageSizeOptions]="[5, 10, 15]"
                  [length]="25"
                  [pageSize]="10"
                >
                </mat-paginator>
                
          
              </div>
            
            </mat-expansion-panel>
            
            <mat-expansion-panel >
              
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Flagged
                </mat-panel-title>
                <mat-panel-description>
                  
                  <span class="badge bg-danger float-end">{{flaggedcount}}</span>   
                 </mat-panel-description>
            
              </mat-expansion-panel-header>
          
              <div >
                <div>
                  <table mat-table [dataSource]="flagged">
                    <ng-container matColumnDef="HomeNumber">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let row">                       
                        <!-- {{ row.HomeNumber }} - {{row.HHName}}  -->
                        <a href="javascript:void(0)" (click) ="showDetails(row.HomeNumber)">{{ row.HomeNumber }} </a>
                        <a 
                          href="javascript:void(0)" 
                          (click) ="showDetails(row.HomeNumber)" 
                          class="link_no_underline2"
                        >
                          {{ row.HHName }} 
                        </a>  
                      </td>
                      
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>
                </div>
                 <!-- <a href="javascript:void(0)">{{ row.HomeNumber }} </a> - {{row.HHName}} -->
                <!-- <mat-paginator #paginatorflagged 
                  showFirstLastButtons
                  [pageSizeOptions]="[5, 10, 15]"
                  [length]="25"
                  [pageSize]="10"
                >
                </mat-paginator> -->
              </div>
            
            </mat-expansion-panel>
            </mat-accordion>



          </div>
          <div class="card-footer">
            <!-- Card Footer -->
            <br />
          </div>
        </div>
        <br />
        <!------------------->


  
      </div>
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">

        <mat-expansion-panel [expanded]="true" hideToggle [disabled]="true">
          <mat-expansion-panel-header>
              <mat-panel-title>
                <!------------>
                    

                    <mat-icon class="large material-icons" style="color:#3d3d3d;">list</mat-icon> &nbsp; 
                    <span class="headerstyle" >Tasks for Household # &nbsp;<em>{{ currentHH }}</em> &nbsp; {{ currentHHName }}</span>   
                    <span class="example-spacer"></span> 
                    <button mat-icon-button (click) = "updatehhFlagged(currentHH)">
                    <mat-icon class="large material-icons" style="color: #3d3d3d;">flag</mat-icon>
                    </button>  
                    <button mat-icon-button  [cdkCopyToClipboard]="currentHH">
                      <mat-icon class="large material-icons" style="color: #3d3d3d;">content_copy</mat-icon>
                    </button> 


                <!------------>




                <!---
                <mat-icon color="primary">list</mat-icon> &nbsp; 
                <span class="headerstyle" ><strong>Tasks for household  &nbsp;<em>{{ currentHH}}</em> &nbsp;  ( {{currentHHName}} )</strong> </span>   
                <span class="example-spacer"></span> 
                <button mat-icon-button color="primary" (click) = "updatehhFlagged(currentHH)">
                  <mat-icon>flag</mat-icon>
                </button>  
                <button mat-icon-button color="primary"  [cdkCopyToClipboard]="currentHH">
                  <mat-icon>content_copy</mat-icon>
                </button>  
                --->
              </mat-panel-title>  
            </mat-expansion-panel-header>

                <br />
                <div 
                  class="alert alert-info alert-dismissible d-flex align-items-center fade show" 
                >
                  <span><i class="bi-warning-circle-fill"></i>  </span> &nbsp; &nbsp;
                  There are a total of &nbsp;<strong>{{currentTotalTasks}} </strong>&nbsp; tasks for household {{currentHHName}}. 
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div> 

                <!-- 
                <div 
                  class="alert alert-success alert-dismissible d-flex align-items-center fade show" 
                >
                  <span><i class="bi-success-circle-fill"></i>  </span> &nbsp; &nbsp; 
                  All tasks for this household are complete. 
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div> 
              -->


            
              <br />
              <table mat-table [dataSource]="hhnumber" >


                <!-- Name Column -->
                <ng-container matColumnDef="TaskName">
                  <th mat-header-cell *matHeaderCellDef class="w-75"> <strong>Task Name</strong> </th>
                  <td mat-cell *matCellDef="let element"> 
                    <span *ngIf ="!element.Link">{{element.TaskName}} </span>
                    <a *ngIf ="element.Link" href="{{element.Link}}" target="_blank">{{element.TaskName}}</a> 
                  </td>
                </ng-container>
              
  
                <!-- Weight Column -->
                <ng-container matColumnDef="Done">
                  <th mat-header-cell *matHeaderCellDef class="w-25 float-end"> <strong>Done?</strong> </th>
                  <td mat-cell *matCellDef="let element" class="float-end"> 
                    <mat-checkbox 
                      class="chkbx_style" 
                      [(ngModel)] = "element.Completed" 
                      (change)    = "updatehhDetails(element)" 
                      
                    >
                    </mat-checkbox> 
                  </td>                  
                </ng-container>  <!-- line: 306 | [disabled]  = "element.Completed" -->
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
              </table>  
      </mat-expansion-panel>

        <br/><br/>
        <mat-expansion-panel [expanded]="true" hideToggle [disabled]="true">
          <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="large material-icons" style="color: #3d3d3d;">chat_bubble</mat-icon> &nbsp; 
                 <span class="headerstyle" ><strong>Household Comments</strong> </span>
              </mat-panel-title>
  
            </mat-expansion-panel-header>
            <br />
            <mat-form-field appearance="outline" class="example-full-width">
              <textarea matInput 
                 placeholder="Comment" 
                  [(ngModel)] ="comment"
                  (change) = "updateComment()"                
                 >
              </textarea>
            </mat-form-field> 
  
      </mat-expansion-panel>
  
  
      </div>
   
  
   <!-- </mat-expansion-panel> -->
  

</div>
