footer {
    padding: 30px 0;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    text-align: center;
    /*
    color: #00008b;
    background: #f5f5f5;
    */
    color: #fff;
    background-color: #000;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 10px !important;
  }
