.mat-expansion-panel-header-title {
    color: black;
    font-size: medium;
    font:medium;
    font-weight: bold;
  }
  ::ng-deep .mat-expansion-panel-header[aria-disabled=true] {
    color: rgba(0,0,0,.87);
  }
  