<div class="h-100">

  <div class="row h-100">
      <div class="col-6">
        <div class="gradient-custom-4"></div>
      </div>
      
      <div class="col-4" style="margin-top: 15%;">

          <mat-card class="mat-elevation-z0" style="border: transparent;">
              <mat-card-title>SSO Panel Login</mat-card-title>
              <br>
         <mat-card-content>
          <form [formGroup]="loginFormBuilder" (ngSubmit)="onSubmit()">
            <p>
              <mat-form-field >
                <input type="text" matInput placeholder="EngCode"  formControlName="engineer" >

              </mat-form-field>

            
            </p>
            <div *ngIf="loginFormBuilder.controls['engineer'].invalid && (loginFormBuilder.controls['engineer'].dirty || loginFormBuilder.controls['engineer'].touched)"
            class="alert alert-danger">
        
          <div *ngIf="loginFormBuilder.controls['engineer'].errors?.['required']">
            Name is required.
          </div>
        
        </div>
  
            <p>
              <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password">
              </mat-form-field>
            </p>
  
            <p class="error">
              
            </p>
  
            <div class="button-primary">
              <button type="submit" mat-raised-button [disabled]="!loginFormBuilder.valid">Login</button>
            </div>
  
          </form>
        </mat-card-content>
      </mat-card>

         
      </div>
      

  </div>
  <!-- Footer component -->
  
  <!---------------------->
</div>





