<div class="container-xl">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        DashBoard
      </mat-panel-title>

    </mat-expansion-panel-header>

    <!-- bar graph -->
    <div class="container-fluid">
      <div style="display: block;">
        <canvas 
          baseChart  height="2" width="8" 
          [datasets]="barChartData" 
          [labels]="barChartLabels" 
          [options]="barChartOptions" 
          [plugins]="barChartPlugins" 
          [legend]="barChartLegend" 
          [chartType]="barChartType" 
          [colors] ="chartColors" 
        >
        </canvas>
      </div>
    </div>

    <!-- etl job status -->
    <div style="display: block;">
      <app-etl28daysanalysis></app-etl28daysanalysis>      
    </div>

  </mat-expansion-panel >

    <mat-expansion-panel hideToggle [expanded]="true" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tasks List
        </mat-panel-title>

      </mat-expansion-panel-header>
      
      <mat-tab-group animationDuration="0ms" >
        <mat-tab label="Automated Tasks">
          <br/>
          <ng-template matTabContent>
            <app-automated-tasks (newItemEvent)="addChartData($event)"></app-automated-tasks>
          </ng-template>
          
        </mat-tab>
        <mat-tab label="Manual Tasks">
          <br/>
          <ng-template matTabContent>
            <app-manual-tasks></app-manual-tasks>
          </ng-template>
         
        </mat-tab>
        <mat-tab label="Activity Log">
          <ng-template  matTabContent>
            <app-activitylog></app-activitylog>
          </ng-template>


        </mat-tab>
        <mat-tab label="Resources">
          <ng-template matTabContent>
            <app-resources></app-resources>
          </ng-template>
        
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>

    <br /><br />
    <app-sitefooter></app-sitefooter> 
    
    <br />
  
  </div> 