<mat-expansion-panel [expanded]="true" hideToggle [disabled]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
          Activity Log
        </mat-panel-title>

      </mat-expansion-panel-header>

     <span *ngIf="activityLog?.LogDateTime"> 
       Last Login        : {{activityLog.LogDateTime}} <br/>
      </span> 
      <span *ngIf="activityLog?.HomeNumber">
        HomeInfo          : {{activityLog.HomeNumber}} - {{activityLog.HHName}}            <br/>
      </span>
      <span *ngIf="activityLog?.TaskID">
        Tasks ID          : {{activityLog.TaskID}} - {{activityLog.TaskName}} <br/>
      </span>
      <span *ngIf="activityLog?.TaskDescription">
        Tasks Description : {{activityLog.TaskDescription}}
      </span>
      
      </mat-expansion-panel>
