
<mat-toolbar *ngIf="currentUser" style="background-color: #333;">
  <a routerLink="/dailytasks">
    <img src="./assets/Numeris2.png" style="width:172px;height:39px">
  </a>
  <span class="example-spacer"></span>
  <span flex style="text-align: center"  style="color: #fff;"><b>Welcome {{currentUser.FirstName | titlecase}}
      {{currentUser.LastName | titlecase }}</b>
  </span><span class="example-spacer"></span>
  <span>
    <button mat-button routerLink="/dailytasks" style="color: #fff;"><i class="material-icons" >home</i> Home</button>
    <button mat-button routerLink="/radio" *ngIf="currentUser.IsAdmin" style="color: #fff;" [matMenuTriggerFor]="mnuAdmin">
      <i class="material-icons" >admin_panel_settings</i> Admin
    </button>
  </span>
  <span flex class="example-spacer"></span>
  <img src="./assets/measureall.png" style="width:4%;height:50px;">
  <button mat-button [matMenuTriggerFor]="appMenu" style="color: #fff;">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="logout()"><i class="material-icons">power_settings_new</i> Log Out</button>
  <button mat-menu-item><i class="material-icons">account_box</i> Account</button>
</mat-menu>
<mat-menu #mnuAdmin="matMenu">
  <button mat-menu-item routerLink="/dashboard">
    <mat-icon aria-hidden="false" aria-label="Dashboard">dashboard</mat-icon>
     Dashboard
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/admintask">
    <mat-icon aria-hidden="false" aria-label="Admin Tasks">task_alt</mat-icon>
     Admin Tasks
  </button>
  <button mat-menu-item routerLink="/weights">
    <mat-icon aria-hidden="false" aria-label="User Weights">fitness_center</mat-icon>
     User Weights
  </button>
  <button mat-menu-item routerLink="/delegates">
    <mat-icon aria-hidden="false" aria-label="Delegates">supervisor_account</mat-icon>
     Delegates
  </button>
  <button mat-menu-item routerLink="/engineer">
    <mat-icon aria-hidden="false" aria-label="Engineers">engineering</mat-icon>
     Engineers
  </button>
  <button mat-menu-item routerLink="/longweekends">
    <mat-icon aria-hidden="false" aria-label="Long Weekend Reminders">event_note</mat-icon>
     Long Weekend Reminders
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item  routerLink="/settings">
    <mat-icon aria-hidden="false" aria-label="Global Settings">settings</mat-icon>
     Global Settings
  </button>
</mat-menu>

  
  <!-- Footer -->
  <!-- 
  <footer class="footer">
    &copy; {{currentYear}} <a href="https://en.numeris.ca/" target="_blank"> Numeris</a>
  </footer>
  -->

  <!-- <router-outlet></router-outlet> -->



  <div [@routeAnimation]="getAnimationData(routerOutlet)" class="h-100">   

    
    <router-outlet #routerOutlet="outlet">

    </router-outlet>
  </div>
  
  <br />



