.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: medium;
    
    color: black;
    text-size-adjust: inherit;
    text-align: center;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  