<div class="container-xl">
    <br />
    <h1 class="display-1 h1 text-primary">User Weights</h1>
    <br />
    <!-- Date Range Picker Component -->
    <mat-form-field>
        <mat-label><strong>Choose Date Range</strong> </mat-label>
        <mat-date-range-input [rangePicker]="myRangePicker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="myRangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #myRangePicker></mat-date-range-picker>
    </mat-form-field> 

    <br />
    <!--------------------------------->
    <br /><hr /><br /><br />

	<img src="assets/images/weights.png" alt="Task Weights" style="width:1182px;height:362px;">
    <br />
    
</div>
